<div>
  <input type="text" ng-model="search.name">
  <positions></positions>
  <teams></teams>
  <searchlimit></searchlimit>
  <table>
    <tr ng-repeat="player in roster.personnel | filter:search | limitTo:limitct">
      <td><button ng-click="addPlayer(player)">Add Player</button>
      <td>{{ player.pos }}</td>
      <td>{{ player.num }}</td>
      <!-- this is a hack, need to fix this -->
      <td>
        <a href="#/player/{{ player.idno-1 }}">
          {{ player.name }}
        </a>
      </td>
      <td>
        <!-- <a href="/app/index.html#/team/{{ player.team-1 }}">
          {{ teams[player.team-1].team }}
        </a> -->
        <!-- {{ teams[player.team-1]}} -->
        <!-- How to pass object as attribute instead of string? -->
        <div teamlink teamid="{{player.team}}"></div><!-- {{player.team}} -->
        <!-- <div teamlink tid="{{ player.team-1 }}"></div> -->
      </td>
    </tr>
  </table>
  <br />
  <!-- <div teamlink tid="3"></div> -->
  <table>
    <tr ng-repeat="player in fantasy.team">
   <!--    <td>{{ player.pos }}</td>
      <td>{{ player.num }}</td>
      <td>{{ player.name }}</td>
      <td>{{ player.team }}</td> -->
      <!-- <td rostplayer player="player"></td> -->
      <td><button ng-click="removePlayer(player)">Drop Player</button>
      <td player></td>
      <!-- <rostplayer></rostplayer> -->
    </tr>
</div>